<div class="h-100 position-relative user-table__content">
  <h2>Мои задачи</h2>
  <mat-divider class="projects-list__divider" style="margin: 0.125rem;"></mat-divider>
  <div class="d-flex flex-row align-items-center gap-2 mt-2 mb-2 user-table__content--filters mt-2 mb-2">
    <div class="d-flex flex-row align-items-center tasks-entity-selector">
      <app-entity-select
        [value]="selectedTasksStatuses()"
        (selectedChange)="selectedChangeTasksStatuses($event)"
        label="Статусы задач"
        [clearable]="true"
        [loadFn]="loadTasksStatusesPage"
        [multiple]="true"
      ></app-entity-select>
    </div>
    <div class="w-100 d-flex">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label style="font-size: 14px;">Поиск...</mat-label>
        <input
          matInput
          [ngModel]="searchText()"
          (ngModelChange)="searchText.set($event)"
          placeholder="Введите название или код"
        />
        @if (searchText()) {
          <button matSuffix mat-icon-button (click)="searchText.set('')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
  </div>
  <mat-divider class="projects-list__divider" style="margin: 0.125rem;"></mat-divider>
  <div class="h-100 take-full-page-height mt-2">
    <div class="user-table__content--tasks" [ngStyle]="{ 'max-height': taskListIsOpen ? '100%' : 'unset' }">
      <div class="d-flex flex-row align-items-center justify-content-between pt-2 pb-2">
        <div class="d-flex flex-row align-items-center">
          <button mat-icon-button class="mb-1" (click)="viewTasks()">
            <mat-icon class="d-flex" [class.tasks-view-opened]="taskListIsOpen">arrow_drop_down</mat-icon>
          </button>
          <div>Список задач</div>
        </div>
        <div class="d-flex flex-row align-items-center gap-2 me-2">
          @if (hasMoreTasks()) {
            <button mat-button class="sprint-card--header--btn" (click)="loadHasMoreTasks.update((v) => v + 1)">
              Показать еще
            </button>
          }
          <button mat-icon-button class="sprint-card--header--btn" [matMenuTriggerFor]="tasksPageSizeMenu">
            <mat-icon class="d-flex">more_horiz</mat-icon>
          </button>
          <mat-menu #tasksPageSizeMenu="matMenu">
            <div class="menu-header">Показать</div>
            <mat-radio-group [value]="tasksPageSize()" (change)="setTasksPageSize($event.value)">
              @for (size of tasksPageSizeOptions; track size) {
                <mat-radio-button [value]="size" class="menu-radio">
                  {{ size }}
                </mat-radio-button>
              }
            </mat-radio-group>
          </mat-menu>
        </div>
      </div>
      <div
        [ngStyle]="{
          'display': taskListIsOpen ? 'flex' : 'none',
          'max-height': taskListIsOpen ? '100%' : 'unset'
        }"
        [ngClass]="{
          'h-100': taskListIsOpen,
          'overflow-y-auto': taskListIsOpen
        }"
      >
        <app-tasks-list
          [canCreate]="canCreateTask()"
          [filters]="getTasksFilters()"
          [pageSize]="tasksPageSize()"
          [externalHasMoreBTN]="true"
          [emptyListMessage]="'Задачи не найдены'"
          [loadHasMoreTasks]="loadHasMoreTasks()"
          (needHasMore)="hasMoreTasks.set($event)"
        ></app-tasks-list>
      </div>
    </div>
  </div>
</div>
