:host ::ng-deep .sprint-card {
  & .disabled-ckeditor-form {
    & .ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset_all {
      display: none;
    }
  }
  & .search-field {
    width: 100%;
    font-size: 14px;
    & .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
    & .mat-mdc-text-field-wrapper {
      background: white;
      border-radius: .25rem;
    }
    & button {
      margin-right: .15rem;
    }
  }
}
::ng-deep .tasks-entity-selector {
  min-width: 17rem;
  & .mat-mdc-text-field-wrapper {
    background: var(--bs-white);
  }
  & .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    display: none;
  }
  & .select-clear-button {
    & mat-icon {
      display: flex;
    }
  }
}
