<div class="top-sidebar__content d-flex align-items-center justify-content-between">
  <div class="d-flex flex-row align-items-center gap-3">
    <div class="top-sidebar__content--main-icon">
      <a href="/home/dashboard" [matTooltip]="'Главная'" [matTooltipShowDelay]="500"><mat-icon class="d-flex" svgIcon="mainSmallLightLogo"></mat-icon></a>
    </div>
    <div class="project-menu-trigger" [matMenuTriggerFor]="projectMenu" (menuOpened)="onProjectMenuOpened()" (menuClosed)="onProjectMenuClosed()">
      <span class="project-label">Проекты</span>
      <mat-icon class="dropdown-icon" [class.rotated]="isProjectMenuOpen">arrow_drop_down</mat-icon>
    </div>
    <mat-menu #projectMenu="matMenu" class="project-menu">
      <!-- Поле поиска -->
      <div class="project-menu-search">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()" style="font-size: 14px;">Поиск проектов</mat-label>
          <input
            matInput
            [(ngModel)]="searchText"
            (click)="$event.stopPropagation()"
            (mousedown)="$event.stopPropagation()"
            placeholder="Введите название..."
          />
          @if (searchText()) {
            <button matSuffix mat-icon-button (click)="searchText.set('')">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <mat-divider class="project-menu--divider" style="border-color: var(--font-color);margin: 0.125rem;"></mat-divider>
      <div class="d-flex flex-column project-menu--items-container">
        @for (project of filteredProjects(); track project.id) {
          <button mat-menu-item class="project-menu--item-btn" (click)="selectProjectAndClearSearch(project)">
            <div class="project-menu--item">
              @if (project.icon) {
                <div class="project-menu--item-btn--icon">
                  <app-safe-svg [svgString]="project.icon"></app-safe-svg>
                </div>
              }
              <div class="hide-text-overflow-1">{{ project.name }}</div>
            </div>
          </button>
        }
      </div>
      <mat-divider class="project-menu--divider" style="border-color: var(--font-color);margin: 0.125rem;"></mat-divider>
      <button mat-menu-item routerLink="/home/projects" class="all-projects-button project-menu--item-btn">
        Перейти на страницу проектов
      </button>
    </mat-menu>
    @if (canCreateTask()) {
      <button
        mat-flat-button
        class="top-sidebar-create-task-btn"
        (click)="createTask($event)"
      >
        <div class="d-flex flex-row align-items-center gap-1">
          <div>Создать задачу</div>
          <mat-icon svgIcon="addObjectIcon" class="d-flex projects-list__manage-bar--add-icon-btn"></mat-icon>
        </div>
      </button>
    }
  </div>

  <!-- Данные пользователя -->
  <div class="d-flex flex-row align-items-center gap-2 me-2">
    <div class="d-flex" style="min-width: 17rem;">
      <mat-form-field appearance="outline" class="search-field-page">
        <input
          matInput
          [(ngModel)]="searchTextPage"
          placeholder="Введите название или код"
          (keydown.enter)="searchTextPage() && goToSearchPage()"
        />
        @if (searchTextPage()) {
          <button matSuffix mat-icon-button (click)="searchTextPage.set('')">
            <mat-icon>close</mat-icon>
          </button>
        }
        <button matSuffix mat-icon-button (click)="goToSearchPage()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-icon-button class="notifications-btn" (click)="notificationsView()" [matTooltip]="'Уведомления'" [matTooltipShowDelay]="500">
      @if (notificationsService.unreadCount(); as unreadCount) {
        <mat-icon class="d-flex notifications-icon" [svgIcon]="'notificationRingIcon'"></mat-icon>
        <span class="notifications-badge">{{ unreadCount }}</span>
      } @else {
        <mat-icon class="d-flex notifications-icon" [svgIcon]="'notificationIcon'"></mat-icon>
      }
    </button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-btn">
      @if (userService.user()) {
        @if (userService.user()?.profile_photo) {
          <img
            [ngSrc]="userService.user()!.profile_photo!"
            (error)="onImgError($event)"
            alt="avatar"
            class="avatar"
            fill />
        } @else {
          <img src="assets/icons/small-logo-light.svg" alt="avatar" class="avatar" />
        }
      }
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="openSettings()" style="margin: 0 0 .25rem 0;">
        <span>Профиль пользователя</span>
      </button>
      <mat-divider class="project-menu--divider" style="border-color: var(--font-color);margin: 0.125rem;"></mat-divider>
      <button mat-menu-item (click)="logout()" style="margin: .25rem 0 0 0;">
        <span>Выйти</span>
      </button>
    </mat-menu>
  </div>
</div>
@if (error()) {
  <div class="toast-error">
    <div class="toast-error--content">
      @for (line of error().split('\n'); track line) {
        <div class="d-flex flex-row align-items-center justify-content-center">{{ line }}</div>
      }
    </div>

    <button
      mat-icon-button
      type="button"
      class="toast-error--close"
      (click)="errorSignal.set('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
}
